.folder-container {
  position: absolute;
  top: 50px;
  left: 50px;
  height: 62px !important;
  width: 62px;
  border-radius: 5px;
  padding: 0 3px;
}

h5 {
  position: relative;
  bottom: 9px;
  left: 3px;
}

.folder-icon {
  cursor: url(../public/resources/pointing.png), auto;
}
.folder-container:hover {
  background: #4fc3f745;
}
h5:hover {
  cursor: text;
}
