* {
  margin: 0;
  padding: 0;

  font-family: "San Francisco", Helvetica, Arial, san-serif;
}

body {
  cursor: url(../public/resources/cursor.png), auto;
  background: url(../public/resources/wallpapers/catalina.jpg);
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  font-family: "San Francisco", Helvetica, Arial, san-serif;
}
.container {
}

.navbar {
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  position: absolute;
  top: 0;
  width: 100vw;
  /* justify-content: flex-end; */
  color: #fff;
  font-size: 11px;
}
.left {
  display: flex;
  width: 60%;
  gap: 10px;
  align-items: center;
}
.left-items {
  cursor: url(../public/resources/pointing.png), auto;
}
.logo-container {
  margin-left: 10px;
}

.logo {
  /* background: url(../public/resources/apple.png), auto; */
  height: 13px;
  width: 11px;
}

.right {
  display: flex;
  width: 40%;
  justify-content: flex-end;
  align-items: center;
  font-size: 11px;
  gap: 10px;
}
.tools {
  height: 15px;
  width: 15px;
}
.right-items {
  cursor: url(../public/resources/pointing.png), auto;
}

.right-click {
  display: none;

  font-family: "San Francisco", Helvetica, Arial, san-serif;
  border: 2px solid red;
  position: absolute;
  /* top: 0px; */
  backdrop-filter: blur(15px);
  background-color: rgba(0, 0, 0, 0.19);
  border: 1px solid hsla(0, 0%, 100%, 0.335);
  border-radius: 8px;
  box-shadow: 0 0 3.35px #000;
  cursor: url(../public/resources/cursor.png), auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 3px;
  left: 0;
  opacity: 1;
  padding: 11px 4px 8px 7px;
  position: absolute;
  top: 30px;
  /* width: 16em; */
  z-index: 20 !important;
}
.right-click-container {
  display: none;
}

.right-click-items {
  /* order: none; */
  border-radius: 4px;
  color: #fff;
  font-size: 10.6px;
  margin-bottom: 3px;
  padding: 0 8px;
  -webkit-transform: scaleY(1.03);
  transform: scaleY(1.03);
  margin-bottom: 7px;
}
.right-click-items:hover {
  background-color: #66d4ff;
  color: #000 !important;
  cursor: url(../public/resources/pointing.png), auto;
}
.context-divider {
  background-color: hsla(0, 0%, 100%, 0.335);
  height: 1px;
  margin: 2px 3px 3px 0;
}
